<a style="color: white; padding-left: 20px;" [routerLink]="'/admin/panel'">admin</a>
<a style="color: white; padding-left: 20px;" [routerLink]="'/active-bill/list'">active bill list</a>
<a style="color: white; padding-left: 20px;" [routerLink]="'/active-bill/calculate'">active bill calculate</a>
<a style="color: white; padding-left: 20px;" [routerLink]="'/inactive-bill/list'">inActive bill list</a>
<a style="color: white; padding-left: 20px;" [routerLink]="'/login/index'">login</a>
<a style="color: white; padding-left: 20px;" [routerLink]="'/statistics/list'">statistics list</a>


<router-outlet></router-outlet>